<div class="container">
    <h1>Followers</h1>
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>Profile Image</th>
          <th>Username</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let follower of followers">
          <td><img [src]="follower.avatar_url" alt="Profile Image" width="50"></td>
          <td>{{ follower.login }}</td>
          <td>{{ follower.type }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn btn-primary" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
    </div>
  </div>
  
  