<div class="container">
    <h1>User List</h1>
    <p>Start searching...</p>
    <input type="text" [(ngModel)]="searchTerm" (input)="getUsers()" placeholder="Search github username">
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>Username</th>
          <th>User Type</th>
          <th>Profile Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.login }}</td>
          <td>{{ user.type }}</td>
          <td><img [src]="user.avatar_url" alt="Profile Image" width="50"></td>
          <td>
            <button class="btn btn-danger ml-2" ><a [routerLink]="['/' + user.login]" class="btn btn-primary">View</a></button>
            
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn btn-primary" [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">Next</button>
    </div>
  </div>
  